# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "168.100.162.204:30240"
endpoint_add_udp "168.100.162.204:30240"


set mysql_connection_string "server=game-db-fr-1.iceline.host;database=s23729_CBK_CARTEL;userid=u23729_kHtymHnnOg;password=DVN^DP0ipHUHcD7wYmfum7=="


# FiveM Core Resources
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure baseevents
ensure chat
#ensure NativeUI
ensure map-sat

ensure EasyAdmin


setr ea_LanguageName "en"                # set our language to english
setr ea_MenuButton "F2"      # set our menu button to F2, this is a one-time setting!
setr ea_logLevel 3

# Dependencies
ensure ghmattimysql
ensure bob74_ipl
ensure connectqueue
ensure warmenu
ensure progressbar
ensure mhacking
ensure menuv
ensure pma-voice
ensure lux_vehcontrol
ensure loadscreen
ensure mafia
ensure ranch
ensure vineyard
ensure dpemotes
ensure 3dme
ensure handsup
ensure clothes
# ID Gun 
#ensure pun_idgun
ensure interact-sound
ensure CarryPeople
#ensure vMenu

#####MLO#######
ensure mrpd_brezze
ensure sandymc
ensure rockcafeint
ensure pizza
ensure dons_apple
#ensure dynasty8
#ensure taxioffice
ensure Hacker
ensure coke-lab
ensure warehouse
ensure Pharmacy
ensure paleto_hospital
ensure paleto_pd
ensure fibv
ensure funkclothes
ensure vespucci
ensure lks_fight
ensure maisonette10
ensure prison_canteen
ensure prison_main
ensure prison_meeting
ensure Cockatoos
ensure Bahama
ensure bahamas_props_addons
ensure Cookie
ensure IDs
ensure laundry
ensure jfd-vehcmds
ensure Redline_Tuner_Shop
ensure Redline_Vip_Showroom
ensure Dealership
ensure pablito_taco
ensure yellowjack
#ensure bigbenny
ensure bennylift
ensure cental-hospital
ensure bigbennyblackwhite
ensure CourtHouse
ensure gabz_vanilla


#Cars
ensure gov
ensure state
ensure amrpack
ensure Civ
ensure lspd
ensure LSPD
ensure unmarked
ensure Cars
ensure coastguard
ensure unarm
ensure ems_heli
ensure transit


# QBCore Core Resources
ensure qb-core
ensure LegacyFuel # Needs to start after qb-core
ensure qb-hud
ensure qb-logs
ensure qb-multicharacter
ensure qb-spawn
ensure qb-inventory
ensure qb-weapons
ensure qb-garages
ensure qb-smallresources

# # QBCore resources
ensure qb-adminmenu
ensure qb-afk
ensure qb-ambulancejob
ensure qb-anticheat
ensure qb-apartments
ensure qb-banking
ensure qb-atms
ensure qb-bankrobbery
ensure qb-billing
#ensure qb-blackjack
ensure qb-bossmenu
ensure qb-builderjob
ensure qb-carwash
#ensure qb-casino
ensure qb-cityhall
ensure qb-clothing
ensure qb-coke
ensure qb-commandbinding
ensure qb-companies
ensure qb-crafting
ensure qb-crypto
ensure qb-customs
ensure qb-diving
ensure qb-doorlocks
ensure qb-drugs
ensure qb-fitbit
ensure qb-garages
ensure qb-gangs
ensure qb-garbagejob
#ensure qb-governmentjob
ensure qb-hotdogjob
ensure qb-houserobbery
ensure qb-houses
ensure qb-hud
ensure qb-ifruitstore
ensure qb-interior
ensure qb-jewelery
ensure qb-keyminigame
ensure qb-lapraces
ensure qb-lawyerjob
ensure qb-lockpick
ensure qb-mechanicjob
ensure qb-methlab
ensure qb-moneysafe
#ensure qb-newsjob
ensure qb-oxyrun
ensure qb-pawnshop
ensure qb-phone
ensure qb-policejob
ensure qb-prison
ensure qb-radio
ensure qb-radialmenu
ensure qb-recyclejob
ensure qb-scoreboard
ensure qb-scrapyard
ensure qb-shops
ensure qb-skillbar
#ensure qb-stashes
ensure qb-storerobbery
ensure qb-streetraces
ensure qb-taxijob
ensure qb-tattooshop
ensure qb-towjob
ensure qb-traphouse
ensure qb-truckerjob
ensure qb-truckrobbery
ensure qb-tunerchip
ensure qb-tunerjob
ensure qb-vehiclefailure
ensure qb-vehiclekeys
ensure qb-vehiclepush
ensure qb-vehiclesales
ensure qb-vehicleshop
ensure qb-vineyard
ensure qb-weathersync
ensure qb-weapondealer
ensure qb-weed

## Added Scripts ##
ensure wk_wars2x
ensure mdt
ensure map
ensure nearest-postal
ensure cd_dispatch
ensure qb-moneywash
ensure heli
ensure BlipsBuilder

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, rp, police, ems, drugs,cars, drugs, custom, reallife"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-US" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "CBK CARTEL | Realistic Roleplay | Custom Cars | Hiring All Departments |  No Lag"

# Set your server's Project Name
sets sv_projectName "CBK_CARTEL | Realistic Roleplay | Custom Cars | Hiring All Departments |  No Lag"

# Set your server's Project Description
sets sv_projectDesc "CBK Cartel"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace builtin.everyone qbcommands allow
add_ace group.admin easyadmin allow
#mike
add_principal identifier.steam:110000147033ed5 group.admin
add_principal identifier.steam:76561199151660757  group.admin
#tom
add_principal identifier.steam:11000010ab9ffbe group.admin
add_principal identifier.steam:76561198140227518 group.admin
# Add moderator group
add_principal group.moderator

#qb-admin permissions
add_ace group.admin qbadmin allow # admin can do everything

add_ace group.moderator qbadmin.join allow

add_ace group.admin command allow # allow all commands

add_principal identifier.license: group.admin
add_principal identifier.steam:110000147033ed5 group.admin    #mike
add_principal identifier.steam:76561199151660757  group.admin    #mike
add_principal identifier.steam:11000010efcee77 group.admin #lance
add_principal identifier.steam:76561198211722871 group.admin #lance
add_principal identifier.steam:1100001422665b5 group.admin #vet
add_principal identifier.steam:76561199070078389 group.admin #vet
add_principal identifier.steam:11000010671994c group.admin #crit
add_principal identifier.steam:76561198068373836 group.admin #crit
add_principal identifier.steam:110000113182d88 group.admin #rhys
add_principal identifier.steam:76561198280617352 group.admin #rhys
add_principal identifier.steam:11000011b7b5cf2 group.admin #ramm
add_principal identifier.steam:76561198421335282 group.admin #ramm



# enable OneSync (required for server-side state awareness)
set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 64

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey 9DCFCAEB0E229AA3C76E54DB05721DD1

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey cfxk_173UwksO6qSQE738mF5rf_3upbsx


exec easyadmin_permissions.cfg
